#demoLogin,
#faqs,
#gettingStarted,
#getYourPasswordHere,
#howDoesItWork,
#manual,
#noMorePhishing,
#theSafestPasswordHelper
{
    display: none;
}

#OPFES_dropzone
{    border: 0;
    color: white;
    cursor: default;
}