/* This css-file is for the popup-form
   for typing your password on a login-form
*/

#OPFES_popup_form {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    padding: 2px;
    border: 1px dotted brown;
    background-color: sandybrown;
    z-index: 9999;
    overflow: auto;
}

#OPFES_popup_form li {
    list-style-type: disc;
    margin-left: 20px;
}

#OPFES_popup_form p {
    font-size: 14px;
}

#OPFES_popup_form #OPFES_popup_read_more_block,
#OPFES_popup_form #OPFES_popup_read_less
{
    display: none;
}

#OPFES_popup_form #OPFES_popup_userid {
    font-weight: bold;
}

#OPFES_popup_form input {
    display: inline;
}

#OPFES_popup_form input#OPFES_popup_password {
    width: 150px;
    padding: 0;
    margin: 0;
}

#OPFES_popup_form input#OPFES_popup_submit {
    width: 100px;
}

#OPFES_popup_form input#OPFES_popup_cancel {
    width: 15px;
    height: 25px;
    padding: 0;
    float: right;
}
