body{
    min-width: 750px;
}

/* For some reason the browsers keep changing the background-colour of this select-box
   to somewhat different colour compared to the other input boxes. */
#OPFES_SelectSequenceNr[disabled="disabled"],
#OPFES_SelectMaxPwdChars[disabled="disabled"]
{
    background-color: rgb(235, 235, 228);
}

table{
    border-spacing: 0;
}
