/* This css-file is for the popup-overlay
   for typing your password on a login-form
*/

#OPFES_loginForm_form {
    display: none;
    position: absolute;
    top: 25px;
    left: 25%;
    width: 50%;
    height: auto;
    padding: 16px;
    border: 4px solid green;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

#OPFES_loginForm_form p {
    padding-bottom: 15px;
}

#OPFES_loginForm_form #OPFES_userid {
    font-weight: bold;
}

#OPFES_loginForm_form input {
    display: inline;
}

#OPFES_loginForm_form input#OPFES_UserPassword {
    width: 150px;
}

#OPFES_loginForm_form input#OPFES_SubmitPassword {
    width: 100px;
}

#OPFES_loginForm_form input#OPFES_Cancel {
    width: 500px;
}

#OPFES_loginForm_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px;
    height: 100%;
    background-color: darkgreen;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .50;
    filter: alpha(opacity=80);
}
